
#carousel {
  text-align: center;
  overflow: hidden;
  border: 2px grey solid;
  height: 400px;
  width: 500px;
}

img {
  height: 400px;
  width: 500px;
}

ul {
  width: 2000px;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  list-style: none;
}
